---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { NavbarTop } from "../components/NavbarTop";
import { Avatar } from "../components/Avatar";
import { Presentation } from "../components/sections/Presentation";
import { Experiences } from "../components/sections/Experiences";
import { Projects } from "../components/sections/Projects";
---

<Layout title="Welcome to Astro.">
  <main>
    <NavbarTop />
    <Presentation client:visible />
    <Experiences />
    <Projects client:visible />
  </main>
</Layout>
